class LazyEcs < Formula
  include Language::Python::Virtualenv

  desc "Interactive CLI tool for navigating AWS ECS clusters"
  homepage "https://github.com/vertti/lazy-ecs"
  url "{{PYPI_DOWNLOAD_URL}}"
  sha256 "{{PACKAGE_SHA256}}"
  license "MIT"

  depends_on "python@3.11"

{{HOMEBREW_RESOURCES}}

  def install
    virtualenv_install_with_resources
  end

  test do
    assert_match "lazy-ecs", shell_output("#{bin}/lazy-ecs --help")
  end
end